{% extends 'base.html' %} 
{% load static %} 
{% block title %}Password Required{%endblock %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'shortener/css/shortener.css' %}" />
{% endblock %} 
{% block content %}
<div class="card">
  <h2 class="section-title">Password Required</h2>
  <span class='back-btn'><a href="{% url 'shortener:home' %}">Back</a></span>

  {% if error %}
  <div class="error-message">{{ error }}</div>
  {% endif %}

  <form method="POST" class="password-form">
    {% csrf_token %}
    <div class="form-group">
      <label for="password" class="form-label">Enter Password</label>
      <div class="password-wrapper">
        <input
          type="password"
          id="urlPassword"
          name="password"
          class="input-field"
          required
        />
        <div class="checkbox-wrapper">
          <input type="checkbox" id="showPassword" />
          <label for="showPassword">Show password</label>
        </div>
      </div>
    </div>
    <button type="submit" class="button">Submit</button>
  </form>
</div>
{% endblock %} 
{% block extra_js %}
<script src="{% static 'shortener/js/shortener.js' %}"></script>
{% endblock %}
